# ignore everything
*

# keep notebooks
!*.ipynb
!*.m
# keep model folders and results
!dataset_build_hybrid*/
!dataset_build_hybrid/**
!hybrid_**/
!hybrid_*/**
!ssl_**/
!ssl_*/**
# keep models
!models/
!models/**
# keep results
!session_**
!nearest_anchor_figures/
!nearest_anchor_figures/**

!.gitignore
!README.md